{% include "base.html.twig" %}

{% block title %} Gestion Personne {% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container mt-4">
    <h1 class="display-4">Bienvenu sur ce site pour la Gestion du personnel</h1>
    <p class="lead">Je suis un grand developpeur, Je suis un grand developpeur, Vive les developpeurs Vive les developpeurs </p>
    <hr class="my-4">
    <p>Rendez-vous la page d'inscription du personnel</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>

{% endblock %}